@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/mortezaom/google-sans-cdn@master/fonts.css");

:root {
  --primary-color: #1a73e8;
  --secondary-color: rgb(91, 94, 93);
  --secondary-color-dark: #1a66cb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto";
  font-size: 1.4rem;
  line-height: 1.6;
  color: #2b2b2b;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wrapper {
  padding: 25px;
}

.inner__wrapper {
  border-radius: 8px;
  overflow: hidden;
  background-color: #fbffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

figure {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 45px;
  height: 45px;
  margin-left: 2px;
}

figure img {
  position: relative;
  top: -10px;
  left: -12px;
}

.changeName {
  padding: 0.3rem 2.7rem 0.3rem 0.7rem;
  border: 1px solid #b5b5b5;
  width: max-content;
  margin: 0.5rem auto 3rem auto;
  border-radius: 3rem;
  font-size: 13px !important;
  font-weight: bold;
  font-family: "google sans";
  cursor: pointer;
}

.changeName:hover {
  background-color: rgb(246, 246, 246);
}

.inner__wrapper img {
  display: block;
  margin: 0 auto 1rem;
}

.inner__wrapper h2 {
  font-family: "google sans";
  font-size: 3.2rem;
  margin-top: 20px;
  font-weight: 400;
  margin-left: -1px;
  width: 45vw;
}

.inner__wrapper h3 {
  font-weight: 100;
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  word-spacing: 2px;
}
.fa-solid {
  margin: 0px 3px;
  color: rgb(65, 65, 65);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 211%;
  grid-gap: 3rem;
  margin-top: 40px;

}

form .form__group {
  height: 6.5rem;
}

form .form__group input {
  padding: 1.8rem;
  border: 0.5px solid var(--secondary-color);
  display: block;
  width: 96%;
  outline: none;
  border-radius: 0.3rem;
  font-size: 1.8rem;
}

form .form__group label {
  display: block;
  transform: translate(1.5rem, -4.1rem);
  font-size: 1.6rem;
  pointer-events: none;
  transition: 0.2s ease;
  color: #727272;
}

form .form__group input:focus {
  border: 2px solid var(--secondary-color-dark);
}

form .form__group input:focus + label {
  transform: translate(2rem, -7.2rem);
  color: var(--secondary-color-dark);
  display: inline-block;
  font-size: 1.3rem;
  padding: 0.3rem;
  background-color: #fff;
  line-height: 30%;
}

form .form__group input:valid {
  border: 2px solid var(--secondary-color);
}

.not-valid-input {
  border: 2px solid #b62f29 !important;
}
.not-valid-label {
  color: #b62f29 !important;
}
.error-massage {
  display: block;
  font-size: 12px;
  color: #b62f29;
  position: relative;
  top: -20px;
  left: 0px;
}
.error-massage .fa-solid {
  color: #b62f29;
}

form .form__group input:valid + label {
  transform: translate(2rem, -7.2rem);
  display: inline-block;
  font-size: 1.2rem;
  background-color: #fff;
  color: #505050;
}

a {
  color: var(--secondary-color-dark);
}
a:nth-child(2):hover::after {
  content: "";
  display: block;
  width: 230px;
  position: absolute;
  background-color: #1a6bd5;
}

.forgot {
  display: block;
  margin-bottom: 4rem;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}

.control li a:first-child {
  font-weight: normal;
  padding: 5px;
  position: relative;
  left: -5px;
}

.control li a:first-child:hover {
  background-color: #1a6bd50f;
  border-radius: 3px;
}
.btn {
  background-color: var(--secondary-color-dark);
  color: #fff;
  padding: 1.1rem 2.3rem;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  outline: none;

  transition: box-shadow ease 200ms;
  transition: background-color 0s filter 0s;
}

.btn:hover {
  cursor: pointer;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: var(--secondary-color-dark);
}

.language {
  display: flex;
  flex-direction: column;
}

.language select {
  border: none;
  font-family: "google sans";
  color: #484b4d;
  font-size: 13px;
  margin-bottom: 3rem;
  background-color: transparent;
  appearance: none;
}

.caret-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  position: relative;
  top: 12px;
  left: 15px;
}

.language select:focus-visible {
  outline: none;
  border: none;
}
.language .privacy {
  font-size: 1.2rem;
  display: flex;
}

.language .privacy li {
  margin-right: 3rem;
}

.language .privacy li a {
  font-weight: 400;
  color: #757575;
}



.username.deactive {
  transform: translateX(-120%);
}

.password.active {
  transform: translateX(-111%);
}

.show-password-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  gap: 8px;
}

.show-password-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  position: relative;
  top: 10px;
}

.checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  margin-right: 10px;
}

.show-password-checkbox input:checked ~ .checkmark {
  background-color: var(--secondary-color-dark);
  border-color: var(--secondary-color-dark);
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 15px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  z-index: 1;
}

.checkmark::before {
  content: "";
  position: absolute;
  display: none;
  left: -2px;
  top: -9px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #1a6bd50f;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.show-password-checkbox input:checked ~ .checkmark::after {
  display: block;
}
.show-password-checkbox input:hover ~ .checkmark::before {
  display: block;
}
