:root {
  --primary-color: #1a73e8;
  --secondary-color: #f0f4f9;
  --secondary-color-d: #252525;
  --secondary-color-dark: #1a66cb;
}

/* اکیه */
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  /* padding:auto 7rem auto 10rem; */
  background-color: var(--secondary-color);
  /* align-items: center; */
}

.wrapper {
  padding: 4rem 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner__wrapper {
  padding: 3rem 3rem;
  /* border: 1px solid var(--secondary-color); */
  /* padding: rem; */
  border-radius: 30px;
  overflow: hidden;
  width: 90%;
  background-color: #fbffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.changeName {
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  border: 1px solid #b5b5b5;
  width: max-content;
  margin: 0.5rem auto 3rem auto;
  border-radius: 3rem;
  font-size: 16px !important;
  /* font-weight: bold; */
  font-family: "google sans";
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 211%;
  grid-gap: 3rem;
  margin-top: 0px;
}

form .form__group input {
  padding: 1.8rem;
  margin-top: 20px;
  border: 0.5px solid var(--secondary-color-d);
  display: block;
  width: 93%;
  outline: none;
  border-radius: 0.3rem;
  font-size: 1.8rem;
}

form .form__group input:valid {
  border: 2px solid var(--secondary-color-d);
}

.forgot {
  display: block;
  margin-bottom: 2rem;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem 0rem 0rem;
}

.btn {
  background-color: var(--secondary-color-dark);
  color: #fff;
  padding: 1.1rem 2.3rem;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  outline: none;
  transition: box-shadow ease 200ms;
  /* transition: background-color 0s filter 0s; */
  margin-right: 22px;
}

.language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  width: 80%;
  margin: 1rem 0;
}

.language div select {
  border: none;
  font-family: "google sans";
  color: #484b4d;
  background-color: transparent;
  font-size: 13px;
  margin-bottom: 3rem;
  appearance: none;
}

.language .privacy li {
  margin: 0px 0rem 0px 2rem;
}

.username,
.password {
  transition: 0.5s ease-in-out;
  width: 65vw;
}

.password.active {
  transform: translateX(-107%);
}

/* ایجاد چکباکس سفارشی */
.checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid var(--secondary-color-d);
  border-radius: 2px;
  margin-right: 10px;
}
